.textfield {

	position: relative;

	.input {
		margin: 0; padding:0;
		border: none;
		margin: 1em 0em 1em 0em;
	}

	.label {

		margin: 0; padding: 0;
		position: absolute;

		transition: all 300ms cubic-bezier( 0.000, 1.065, 0.850, 1.000 );
		&.inactive {
			top: 1em;
			font-size: 1em;
		}

		&.active {
			top: .2em;
			font-size: .8em;
		}
	}
}
